.env

# exlcude pycache directories
__pycache__/
# exclude compiled Python files
*.pyc
# exclude virtual environment directories
venv/
# exclude logs
logs/
bot_activity.log
# exclude IDE specific files
.idea/
